<h1>Home Page</h1>
<div>
    <!-- this div will display alerts -->
    <% if(errors.length) { %>
        <p><%= errors %></p>
    <% } %>

    <% if(infos.length) { %>
        <p><%= infos %></p>
    <% } %>
</div>


<p>Welcome: <em><%= currentUser.getFullName() %></em></p>
<a href="/users/logout">Logout</a>

<div>
    <!-- TODO: Display the list of tasks -->
    <h1>Projects</h1>
    <% if(tasks.length >= 1) { %>
        <ul>
            <% tasks.forEach(function (task){ %>
                <% if(JSON.stringify(task.owner) === JSON.stringify(currentUser._id)) { %>
                    <li>
                        <h2><a href="/tasks/view/<%= task._id %>" ><%= task.title %></a></h2>
                        <p><%= task.description %></p>
                        <small style="color: #666666"><%= task.createAt %></small>
                        <h3>Projects Tasks</h3>
                        <div>
                            <!-- Subtasks -->
                            <% if (subtasks.length >= 1){ %>
                                <ul>
                                    <% subtasks.forEach(function (subtask){ %>

                                        <% if(JSON.stringify(subtask.task._id) === JSON.stringify(task._id)){ %>
                                            <li>
                                                <p><b><%= subtask.title %></b></p>
                                                <em><%= subtask.description %></em><br>
                                                <small>Deadline:</small>
                                                <small style="color: #666666">
                                                    <% if(subtask.extendedTo) { %>
                                                        <%= subtask.extendedTo %>
                                                    <% }  else { %>
                                                        <%= subtask.dueAt %>
                                                    <% } %>
                                                </small>&nbsp;
                                                <small> Status: <%= subtask.status %></small>
                                            </li>
                                        <% } %>
                                    <% }) %>
                                </ul>
                            <% }  %>
                            <p><a href="tasks/subtasks/add/<%= task._id %>">Add subtask</a> </p>
                        </div>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    <%} else { %>
        <p>-- No task available, to create task please click "Add new task" link --</p>
    <% } %>

</div>
<p><a href="/tasks/add">Add new task</a> </p>