<h1>Home Page</h1>
<div>
    <!-- this div will display alerts -->
    <% if(errors.length) { %>
        <p><%= errors %></p>
    <% } %>

    <% if(infos.length) { %>
        <p><%= infos %></p>
    <% } %>
</div>


<p>Welcome: <em><%= currentUser.getFullName() %></em></p>
<a href="/users/logout">Logout</a>

<div>
    <!-- TODO: Display the list of tasks -->
    <h1>Projects</h1>
    <% if(tasks.length >= 1) { %>
        <ul>
            <% tasks.forEach(function (task){ %>
                <% if(JSON.stringify(task.owner) === JSON.stringify(currentUser._id)) { %>
                    <li>
                        <h2><a href="/tasks/view/<%= task._id %>" ><%= task.title %></a></h2>
                        <p><%= task.description %></p>
                        <div>
                            <small style="color: #666666"><%= task.createAt %></small>
                        </div>
                        <br>
                        <div>
                            <% let completedSubTaskCount = 0 %>
                            <% let pendingSubTaskCount = 0 %>

                            <% subtasks.forEach(function (task){ %>
                                <% if(task.status === "completed"){ %>
                                    <% completedSubTaskCount++; %>
                                <% } %>

                                <% if(task.status === "on-progress"){ %>
                                    <% pendingSubTaskCount++; %>
                                <% } %>
                            <% }) %>


                            <span>Completed Tasks: <%= completedSubTaskCount %></span>&nbsp;|&nbsp;
                            <span>Pending Tasks: <%= pendingSubTaskCount %></span>&nbsp;
                        </div>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    <%} else { %>
        <p>-- No Project available, to create the project please click "Add new task" link --</p>
    <% } %>

</div>
<p><a href="/tasks/add">Add new task</a> </p>