<h1>Home Page</h1>
<div>
    <!-- this div will display alerts -->
    <% if(errors.length) { %>
        <p><%= errors %></p>
    <% } %>

    <% if(infos.length) { %>
        <p><%= infos %></p>
    <% } %>
</div>


<p>Welcome: <em><%= currentUser.getFullName() %></em></p>
<a href="/users/logout">Logout</a>

<div>
    <!-- TODO: Display the list of tasks -->
    <h2>Tasks</h2>
        <% if(tasks.length) { %>
            <ul>
                <% tasks.forEach(function (task){ %>
                    <li>
                        <h4><%= task.title %></h4>
                        <p><%= task.description %></p>
                        <small style="color: #666666"><%= task.createAt %></small>

                        <div>
                            <!-- Subtasks -->
                            <% if (subtasks.length){ %>
                                <ul>
                                    <% subtasks.forEach(function (subtask){ %>

                                        <% if(JSON.stringify(subtask.task._id) === JSON.stringify(task._id)){ %>
                                            <li>
                                                <p><b><%= subtask.title %></b></p>
                                                <em><%= subtask.description %></em><br>
                                                <small>Due At:</small><small style="color: #666666"> <%= subtask.dueAt %></small>&nbsp;<small> Status: <%= subtask.status %></small>
                                            </li>
                                        <% } %>
                                    <% }) %>
                                </ul>
                            <% }  %>
                            <p><a href="tasks/subtasks/add/<%= task._id %>">Add subtask</a> </p>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <%} else { %>
            <p>-- No task available, to create task please click "Add new task" link --</p>
        <% } %>

</div>




<p><a href="/tasks/add">Add new task</a> </p>