<%- include('_header') %>
<div class="container">
    <div>
        <!-- this div will display alerts -->
        <% if(errors.length) { %>
            <p class="alert alert-danger text-center"><%= errors %></p>
        <% } %>

        <% if(infos.length) { %>
            <p class="alert alert-info text-center"><%= infos %></p>
        <% } %>
    </div>

    <div>
        <!-- TODO: Display the list of tasks -->
        <h1 class="display-2 text-muted">Projects</h1>
        <% if(tasks.length >= 1) { %>

            <div class="card-group">
                <% tasks.forEach(function (task){ %>
                    <% if(JSON.stringify(task.owner) === JSON.stringify(currentUser._id)) { %>
                    
                        <div class="col-4">

                            <div class="card mx-2 my-2">
                                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                                <div class="card-body">
                                <h5 class="card-title"><%= task.title.substring(0, 50)+"..." %><a href="/tasks/view/<%= task._id %>" ><i class="bi bi-eye-fill"></i></a></h5>
                                <p class="card-text"><%= task.description.substring(0, 100)+"..." %></p>
                                </div>
                                <div class="card-footer">
                                <small class="text-muted"><%= task.createAt %></small>
                                </div>
                            </div>
                        </div>

                    <% } %>
                <% }) %>
            </div>

        <%} else { %>
            <p>-- No Project available, to create the project please click "Add new task" link --</p>
        <% } %>

    </div>


</div>