<h1>Edit task</h1>
<p><a href="/home">Home</a></p>
<div>
<!-- this div will display alerts -->
<% if(errors.length) { %>
    <p><%= errors %></p>
<% } %>

<% if(infos.length) { %>
    <p><%= infos %></p>
<% } %>
</div>

<form action="/tasks/edit/<%= task.id %>" method="post">
    <div>
        <label for="title">Title</label>
        <input name="title" id="title" value="<%= task.title %>">
    </div>
    <br>
    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description"><%= task.description %></textarea>
    </div>

    <div>
        <label for="priority">Priority</label>
        <input type="range" value="<%= task.priority %>" min="1" max="10" name="priority" id="priority">
        <div>
            <small style="color: #666">Hint: The higher the number the lower the priority</small>
        </div>
        <div id="priorityValueOutput">

        </div>
    </div>

    <div>
        <input type="submit" value="Update task" role="button">
    </div>

</form>

<script>
    /*TODO: get the DOM elements*/
    const priority = document.getElementById("priority");
    const priorityValueOutput = document.getElementById("priorityValueOutput");

    /*TODO: display initial priority value*/
    priorityValueOutput.innerHTML = `<p>Priority level:</p> <h4>${priority.value}</h4>`;

    /*TODO: change the value of priority when changing the value*/
    priority.oninput = function (){
        priorityValueOutput.innerHTML = `<p>Priority level:</p> <h4>${this.value}</h4>`;
    }
</script>