<%- include("../_header") %>

<div class="container">
    <div class="row">
        <div class="col">

            <div>
                <!-- this div will display alerts -->
                <% if(errors.length) { %>
                    <p class="alert alert-danger text-center"><%= errors %></p>
                <% } %>

                <% if(infos.length) { %>
                    <p class="alert alert-info text-center"><%= infos %></p>
                <% } %>
            </div>

            <% if(JSON.stringify(currentUser._id) === JSON.stringify(task.owner)) { %>
                <h4>
                    <div class="text-muted mb-3">Project: </div><%= task.title %>&nbsp;
                    <a href="/tasks/edit/<%= task._id %>"><i class="bi bi-pencil-fill mr-4"></i></a>
                    <a href="/tasks/confirm_delete/<%= task._id %>"><i class="bi bi-trash-fill text-danger"></i></a>
                </h3>

                <% if(projectCompletion > 0) { %> 
                    <div class="my-3">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: <%= projectCompletion %>%;" aria-valuenow="<%= projectCompletion %>" aria-valuemin="0" aria-valuemax="100"><%= projectCompletion %>%</div>
                        </div>
                    </div>
                <% } %>
                

                <p><a href="/tasks/subtasks/add/<%= task._id %>">Add task</a> </p>
                <% if( subtasks.length ) { %>

                        <!-- display on-progress tasks -->
                        <% if(onProgressSubTasks.length > 0) { %>
                            <h4 class="text-muted">On-Progress:</h3>
                            <% onProgressSubTasks.forEach(function (subtask){ %>
                                <ul>
                                    <li>
                                        <h4>
                                            <%= subtask.title %>&nbsp;
                                            <a href="/tasks/subtasks/edit/<%= subtask._id %>"><i class="bi bi-pencil-fill mr-5"></i></a>
                                            <a href="/tasks/subtasks/confirm_delete/<%= subtask._id %>"><i class="bi bi-trash-fill text-danger mr-5"></i></a>
                                            <a href="/tasks/subtasks/confirm_completed/<%= subtask._id %>"><i class="bi bi-check text-success"></i></a>
                                        </h4>
                                        <p><%= subtask.description %></p>

                                        <small>Deadline:</small>
                                        <small style="color: #666666">
                                            <% if(subtask.extendedTo) { %>
                                                <%= subtask.extendedTo %>
                                            <% }  else { %>
                                                <%= subtask.dueAt %>
                                            <% } %>
                                        </small>&nbsp;
                                        <small> Status: <%= subtask.status %></small>
                                    </li>
                                </ul>
                            <% }) %>
                        <% } %>


                        <!-- display on-progress tasks -->
                        <% if(completedSubTasks.length > 0) { %>
                            <h4 class="text-muted">Completed</h3>
                            <% completedSubTasks.forEach(function (subtask){ %>
                                <ul>
                                    <li>
                                        <h4>
                                            <%= subtask.title %>&nbsp;
                                        </h4>
                                        <p><%= subtask.description %></p>

                                        <small>Deadline:</small>
                                        <small style="color: #666666">
                                            <% if(subtask.extendedTo) { %>
                                                <%= subtask.extendedTo %>
                                            <% }  else { %>
                                                <%= subtask.dueAt %>
                                            <% } %>
                                        </small>&nbsp;
                                        <small> Status: <%= subtask.status %></small>
                                    </li>
                                </ul>
                            <% }) %>
                        <% } %>
                             
                <% } else { %>
                        <p>-- No subtask available --</p>
                <% }%>
            <% } else { %>
                <p>You are not authorized to view this page</p>
            <% } %>


        </div>
    </div>
</div>
<%- include("../_footer") %>