<h1>View Task</h1>
<p><a href="/home">Home</a></p>

<div>
    <!-- this div will display alerts -->
    <% if(errors.length) { %>
        <p><%= errors %></p>
    <% } %>

    <% if(infos.length) { %>
        <p><%= infos %></p>
    <% } %>
</div>

<% if(JSON.stringify(currentUser._id) === JSON.stringify(task.owner)) { %>
    <h3>
        <%= task.title %>&nbsp;
        <a href="/tasks/edit/<%= task._id %>">Edit</a>&nbsp;|
        <a href="/tasks/confirm_delete/<%= task._id %>">Delete</a>
    </h3>
    <div>
        <% if( subtasks.length ) { %>
            <ul>
                <% subtasks.forEach(function(subtask){ %>
                    <li>
                        <h4>
                            <%= subtask.title %>&nbsp;
                            <a href="/tasks/subtasks/edit/<%= subtask._id %>">Edit</a>&nbsp;|&nbsp;
                            <a href="/tasks/subtasks/confirm_delete/<%= subtask._id %>">Delete</a>&nbsp;|&nbsp;
                            <a href="#">Completed</a>
                        </h4>
                        <p><%= subtask.description %></p>

                        <small>Deadline:</small>
                        <small style="color: #666666">
                            <% if(subtask.extendedTo) { %>
                                <%= subtask.extendedTo %>
                            <% }  else { %>
                                <%= subtask.dueAt %>
                            <% } %>
                        </small>&nbsp;
                        <small> Status: <%= subtask.status %></small>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>-- No subtask available --</p>
        <% }%>
    </div>
<% } else { %>
    <p>You are not authorized to view this page</p>
<% } %>

