<%- include("../../_header") %>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 bg-light p-5">

            <h1>Add subtasks</h1>
        
            <div class="text-center">
                <!-- This div holds error and info messages -->
                <% if(errors.length) { %>
                    <p class="alert alert-danger"><%= errors %></p>
                <% } %>

                <% if(infos.length) { %>
                    <p class="alert alert-info"><%= infos %></p>
                <% } %>
            </div>
            <h5 class="border rounded p-3 bg-light"><%= task.title %></h5>
            <form action="/tasks/subtasks/add/<%= task.id %>" method="post">
                <!--<input type="hidden" name="task" value="<%= task.id %>">-->
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" name="title" placeholder="The title of subtask">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" name="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="duedate">Due date</label>
                    <input type="datetime-local" class="form-control" name="duedate" id="duedate">
                </div>

                <div class="form-contol my-3">
                    <input type="submit" value="Add subtask" class="btn btn-success" role="button">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../../_footer") %>